name: "GamesDoneQuickCalendarFactory"
description: "A simple app that generates a Calendar feed of the Games Done Quick schedule."
slug: "games_done_quick_calendar_factory"
url: https://github.com/Aldaviva/GamesDoneQuickCalendarFactory

version: "2.7.24"

arch:
  - amd64

options:
  log_level: "Information"
  cacheDuration: "0:01:00"
  googleServiceAccountEmailAddress: ""
  googleCalendarId: ""
  googleServiceAccountPrivateKey: ""

schema:
  log_level: list(Trace|Debug|Information|Warning|Error|Critical)
  cacheDuration: "match(^\\d+:\\d+:\\d+$)"
  googleServiceAccountEmailAddress: str?
  googleCalendarId: str?
  googleServiceAccountPrivateKey: password?

ports:
  8081/tcp: 8081

watchdog: http://[HOST]:[PORT:8081]

init: false
startup: application
boot: auto
